asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.3.2
Django==5.2.6
djangorestframework==3.15.2
drf-spectacular==0.27.2
idna==3.7
pillow==10.4.0
psycopg2-binary==2.9.10
python-decouple==3.8
requests==2.31.0
sqlparse==0.5.1
urllib3==2.0.7
tzdata==2024.1
whitenoise==6.7.0