<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Inicio {% endblock %}</title>
        {% load static %}
        <script src="{% static 'js/acciones.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/estilos_bases.css' %}">
        <link rel="stylesheet" href="{% static 'css/estilos_agregarP.css' %}">
        <link rel="stylesheet" href="{% static 'css/estilos_obtenerP.css' %}">
        <link rel="stylesheet" href="{% static 'css/estilos_editarP.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    </head>
    <body>
        <header>
            <nav class="navbar">
                <div class="container-fluid">                
                    <a  href="{% url 'fake_store_api:inicio' %}">Harold Tienda</a>                    
                        <a  href="{% url 'fake_store_api:obtener_productos' %}">Productos</a>
                            <a  href="{% url 'fake_store_api:agregar_producto' %}">Agregar productos</a>
                    </div>
            </nav>
        </header>
    <main class="container mt-4">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="nn">
        <p>&copy; 2025 Harold Tienda. Todos los derechos reservados.</p>
            <p>Desarrollado por <a href="" target="_blank">Harold David Palencia Castro</a></p>
    </footer>
    
</body>
</html>