{% extends "base.html" %}
{% block title %}Inicio - Tienda Harold{% endblock %}

{% block content %}
    <main class="text-center">
        <h1>Bienvenido a la Tienda de Harold</h1>
        <p>Esta aplicación te permite explorar muchos productos variados.</p>
        <section>
            <h2>Consultar Productos</h2>
            <p>Explora nuestro catálogo de productos disponibles</p>
            <div class="icon">📦</div>
            <a href="{% url 'fake_store_api:obtener_productos' %}" class="btn">Consultar Productos</a>
        </section>
        <section>
            <h2>Agregar Productos</h2>
            <p>Añade nuevos productos a nuestro catálogo</p>
            <div class="icon">➕</div>
            <a href="{% url 'fake_store_api:agregar_producto' %}" class="btn">Agregar Productos</a>
        </section>
    </main>
{% endblock %}