option_settings:
  aws:elasticbeanstalk:application:environment:
    # Configuración de base de datos PostgreSQL
    DB_ENGINE: django.db.backends.postgresql
    DB_NAME: postgres
    DB_USER: masteruser
    DB_PASSWORD: tiendaharold1206
    DB_HOST: dbtiendaharold.czq64eeo4efy.us-east-2.rds.amazonaws.com
    DB_PORT: 5432

    # Configuración Django
    DJANGO_SETTINGS_MODULE: platzi_store_app.settings
    DEBUG: False
    SECRET_KEY: django-insecure-b4crp*egwb!5g24oa^z-z^^5g_!l1!0+qd34+tth!b-@!2i0!l

    # Configuración adicionales
    PYTHONPATH: /var/app/ondeck:/var/app/ondeck/platzi_store_app
    ALLOWED_HOSTS: tiendaharold-env.eba-8bmkkspf.us-east-2.elasticbeanstalk.com,localhost,127.0.0.1
