option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: platzi_store_app.wsgi:application
    NumProcesses: 1
    NumThreads: 2

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: platzi_store_app.settings
    PYTHONPATH: /var/app/current:/var/app/current/platzi_store_app
    DEBUG: False
    SECRET_KEY: django-insecure-b4crp*egwb!5g24oa^z-z^^5g_!l1!0+qd34+tth!b-@!2i0!l
    ALLOWED_HOSTS: tiendaharold-env.eba-8bmkkspf.us-east-2.elasticbeanstalk.com

commands:
  01_activate_venv:
    command: "source /var/app/venv/*/bin/activate"
    cwd: "/var/app/current"
  02_install_requirements:
    command: "pip install -r requirements.txt"
    cwd: "/var/app/current"

container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
