option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: platzi_store_app.wsgi:application

container_commands:
  00_install_postgresql_client:
    command: "sudo yum install postgresql15 postgresql15-devel -y"
    leader_only: true
  01_test_db_connection:
    command: |
      PGPASSWORD='tiendaharold1206' psql -h dbtiendaharold.czq64eeo4efy.us-east-2.rds.amazonaws.com -U masteruser -d postgres -c 'SELECT 1'
    leader_only: true
  02_migrate:
    command: |
      echo "Running migrations with database settings:"
      /var/app/venv/staging-LQM1lest/bin/python /var/app/current/platzi_store_app/manage.py shell -c "from django.conf import settings; print(settings.DATABASES)"
      /var/app/venv/staging-LQM1lest/bin/python /var/app/current/platzi_store_app/manage.py migrate
    cwd: "/var/app/current"
    leader_only: true
  03_collectstatic:
    command: "/var/app/venv/staging-LQM1lest/bin/python /var/app/current/platzi_store_app/manage.py collectstatic --noinput"
    cwd: "/var/app/current"
    leader_only: true
